:root{
    --primary-color: #15742A;
    --secondary-color: #E9F3E7;
    --white: #fff;
    --black: #000000;
}

html{
    overflow-x: hidden;
    /* padding-left: 20px; */
}

*{
    margin: 0;
    padding: 0; 
    box-sizing:inherit;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
/* 
section{
    padding-left: 65px;
    padding-right: 50px;
} */

span{
    color: var(--primary-color);
}

button{
    background-color: var(--primary-color);
    color: var(--white);
}

/* header */
header{
    background-color: #15742A;
}

.header-lang{
    width: 1280px;
    height: 40px;
}

.header-lang .row .language{
    color: var(--white);
    font-size: 13pt;
    line-height: 40px;
    /* padding: 5px; */
}

header .header-nav{
    justify-content: space-between;
}

header .header-nav nav{
    box-shadow: 1px 1px 1px #AAA;;
    
}


header .header-nav .navbar-collapse{
    justify-content: space-between;
    
}
header .header-nav a{
    font-size: 14pt;
    color: black;
    text-decoration: none;
    list-style-type: none;
    
}

header .header-nav .nav-item{
    padding-right: 65px;

}

header .header-nav .nav-link{
    justify-content: center;

}

header .header-nav .navbar a:hover{
    color: var(--primary-color);
}

/* project */
.project{
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 1px 1px 1px #AAA;
}

.project .title{
    padding-bottom: 20px;
}

.project .content .row{
    display: flex;
    flex-wrap: nowrap;
}

.project .content .row .col-5{
    flex: 1 1 35rem;
}

.project .content .intro-project{
    padding-left: 35px;
}

.project .content .intro-project p{
    text-align:justify;
    margin: 5px;
    font-size: small;
}

.project .content .intro-project i{
    font-size: 25px;
    padding: 10px;
    
}


.project .content iframe{
    width: 100%;;
    height: 350px;
    border-radius: 20px;
}

.project .content .intro-project .row{
    padding-bottom: 10px;
}

.program .container .box-container .box .row{
    display: flex;
    flex-direction: column;
}

.program .container .box-container .box .icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.program .container .box-container .box .intro-project .row-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.program .container .box-container .box .intro-project .row-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.swiperBtn{
    margin-top: 740px;
    color: var(--primary-color);
}

.swiperBtn2{
    margin-top: 1280px;
    color: var(--primary-color);
}

/*  */

.program .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
}

.program .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(255, 51, 153, .05);
    border-radius: .5rem;
    /* border: .1rem solid rgba(0, 0, 0, .1); */
    position: relative;
    margin-top: 30px;
    justify-items: space-between;
    padding: 30px;
    
}

.program .box-container .box .card-title{
    text-align: center;
    font-size: 17pt;
    padding-bottom: 15px;
}

.program .box-container .box .video{
    width: 100%;
    height: 250px;
}

.program .box-container .box .video iframe{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.program .container .box-container .box .intro-project .intro{
    font-size: 11pt; 
    text-align:justify;
    padding-top: 25px;
}
/*  */

/* footer */
.footer{
    display: flex;
    flex-flow: row wrap;
    padding: 10px 80px 0px 80px;
    color: #1D1D1D;
    background-color: #F5F5F5;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 70px;
}


.footer ul{
    list-style: none;
    padding-left: 0;
    display: inline-block;

}

.footer li{
    line-height: 30px;
    list-style: none;
}

.footer a{
    text-decoration: none;
}

.footer .ft{
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
}
.footer .logo img{
    width: 100px;
    height: 100px;
}

.footer .box .box-info p{
    color: #6F7775;
    font-size: smaller;
    margin-bottom: 5px;
}

.footer .box .box-info h3{
    font-size: 14pt;
    margin: 0px;
}

.footer .box .box-info img{
    width:30px;
    height:30px;
    padding-right: 0px;
}

.box a{
    color: #6F7775;
}

.socials a{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 80px;
}

.socials a i{
    color: #15742A;
    padding: 10px 12px;
    font-size: 25px;
}

.footer-bottom{
    width: 100%;
    height: 20px;
    background-color: #15742A;
}

@media screen and (min-width: 400px){
    .footer > *{
        flex: 1;
    }
    .footer{
        display: flex;
        flex: 1px;
    }
    .footer .logo{
        flex: 2 0px;
    }
}
/*  */